/* Estilo general del panel de usuario */
.user-panel {
    height: 95vh;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta del formulario */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
}

/* Encabezado del formulario */
.card h1 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 0.1rem;
    padding-bottom: -1.3rem;
}

/* Inputs del formulario */
.form-control {
    border: 1px solid #ced4da;
    border-radius: 3px;
    font-size: 0.8rem;
    padding: 0.2rem;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Botones */
.btn {
    font-size: 1rem;
    padding: 0.6rem;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
    color: #fff;
}

.btn-danger:hover {
    background-color: #bd2130;
    border-color: #b21f2d;
}

.btn-outline-secondary {
    margin-bottom: 1.05rem;
    color: #6c757d;
    border-color: #6c757d;
    margin-bottom: 20px !important;
}

.btn-outline-secondary:hover {
    background-color: #e2e6ea;
    color: #495057;
}

.form-check-input {
    width: 0.5rem !important; 
    height: 0.5rem; 
    margin-top: 0.3rem; 
    cursor: pointer; 
    display: flex;
    align-items: center;
}

.form-check-label {
    font-size: 0.9rem;
    color: #495057;
}

/* Espaciado entre los géneros */
.d-flex.flex-wrap .form-check {
    margin-bottom: 0.5rem;
}

/* Botones de acción */
.w-100 {
    font-weight: bold;
}
