.vista-parental {
    display: flex;
    height: 100vh;
}

.child-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4, #fad0c4);
}

.adult-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Color oscuro */
}

.login-button {
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #555;
    color: #fff;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: #777;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup input {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.popup button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}
