/* Navbar.css */

/* Estilo de la barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.navbar .nav-link {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.navbar .nav-link:hover {
    color: var(--highlight-color);
}

.navbar .icon {
    color: var(--text-color);
    cursor: pointer;
}
