.coment {
    background-color: #ffffff; 
    padding: 20px;
    width: 300px;
    margin-right: 330px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: sticky; 
    top: 0; 
    z-index: 10; 
}

h1 {
    color: #343a40; 
}

.comentarios-container {
    max-height: 600px; 
    overflow-y: auto; 
    padding: 10px;
    border: 1px solid #ddd; 
    border-radius: 5px; 
    background-color: #fff; 
    margin-bottom: 40px; 
}

.row.mb-4 {
    transition: transform 0.3s; 
}

.row.mb-4:hover {
    transform: scale(1.02); 
}

.form-control {
    border: 2px solid #007bff; 
    border-radius: 5px;
}

.form-control:focus {
    border-color: #0056b3; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}
